@inherits LayoutComponentBase
@using iTFORMS.Components.SharedComponents.HomeComponents

<CascadingAuthenticationState>
    <div class="container-fluid">
        <NavBar/>
        @Body
    </div>
</CascadingAuthenticationState>    