@page "/templates"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="offset-1 col-md-2 col-sm-4 col-6 mb-4">
    <div class="card template-card shadow-sm mb-1" @onclick="CreateNewForm">
        <div class="card-body d-flex flex-column justify-content-center align-items-center">
           <h1>+</h1>
        </div>
    </div>
    <span class="card-title" style="font-size: small; font-weight: 600;"> Blank Form</span>
</div>

<style>
    .template-card {
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        border: 1px solid #dee2e6;
        height: 155px;
    }

    .template-card:hover {
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        border: 1px solid #9731e3;
    }

</style>

@code {
    private void CreateNewForm() {
        var newGuid = Guid.NewGuid();
        Navigation.NavigateTo($"/templates/{newGuid}/");
    }
}