@page "/"
@using Microsoft.AspNetCore.Authorization
@using iTFORMS.Components.SharedComponents.HomeComponents
@attribute [AllowAnonymous]
<PageTitle>iTFORMS</PageTitle>

<NavBar/>

<div class="container-fluid template-view-container">
    <div class="container pt-3">
        <div class="row mb-2">
            <div class="offset-1">
                <h6>Start a new form</h6>
            </div>
        </div>
        <div class="row">
            <TemplateView />
        </div>
        <div class="row pt-3">
            <div class="offset-1">
                <TemplatesList/>
            </div>
        </div>
    </div>
</div>

<style>
    .template-view-container{
        height: 258px;
        background-color: #f1f3f4;
    }
</style>
