@page "/profile"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization


<NavBar/>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="nav nav-tabs mb-4 col-lg-8">
                <a class="nav-link @GetTabClass("templates")"
                        href="/profile"
                        @onclick="@(() => {
                        ActiveTab = "templates";
                        StateHasChanged();
                        })">
                    Tempales
                </a>
                <a class="nav-link @GetTabClass("forms")"
                        href="/profile/forms"
                        @onclick="@(() => {
                        ActiveTab = "forms";
                        StateHasChanged();
                        })">
                    Forms
                </a>
                
            </div>
        </div>
        <div class="tab-content">
            @if (ActiveTab == "templates")
            {
                <TemplatesTab/>
            }
            else {
                <FormsTab/>
            }
            </div>
    </div>
</div>


@code {
    private string ActiveTab = "templates";
    private string GetTabClass(string tabName) => 
        ActiveTab == tabName ? "active" : "";
}